.component {
	display: flex;
}

.carousel {
	display: flex;
	margin: 0 15px;
	width: 900px;
	overflow-x: hidden;
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;
}

.slide {
	width: 900px;
	height: 700px;
	margin: 0 0px;
	flex-shrink: 0;
	scroll-snap-align: start;
}

#slide1 {
	background-color: yellow;
}

#slide2 {
	background-color: green;
}

#slide3 {
	background-color: purple;
}

p.carousel, h1.carousel, h2.carousel, h3.carousel, h4.carousel, h5.carousel {
	color: white;
}