.backgrounded {
	background-image: url(https://res.cloudinary.com/martinmayer-tech/image/upload/c_scale,w_1440,q_50/v1656644563/2019-06-10_21.35.08_zxaxig.jpg);
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover;
}