$theme: (
  bgColor: #101010,
  sideBg: #dddddd,
  borderColor: #222222,
  themeColor: #ff0a16,
  primaryDark: #4141ff,
  accentDark: #eeeeee,
  lightGray: #f2f2f2,
  texts: #eeeeee,
  titles: #eeeeee,
);
