$theme: (
  bgColor: #0d1116,
  sideBg: #dddddd,
  borderColor: #222222,
  themeColor: #ff41a0,
  primaryDark: #4141ff,
  accentDark: #eeeeee,
  lightGray: #f2f2f2,
  texts: #eeeeee,
  titles: #eeeeee,
);
